body{
    background-color: rgba(134, 0, 0, 0.211);
}
h2{
    color:#df1111;
}
#pagetitle{
    background-color: tomato;
    text-align: center;
    padding: 50px;
    border: solid;
    border-color: rebeccapurple;
    border-width:5px;
     }
      